@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
  margin: 0%;
  background-color: #e5e5e5;
}

.margin-none {
  margin: 0;
  padding: 0;
}

.portfolio,
.about,
.contact,
.desktop,
.desktop2,
.can-desktop,
.backdev-desktop,
.tonic-desktop,
.para-desktop,
.htm-desktop {
  display: none;
}

.default-custom-fonts {
  font-family: Poppins, Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.default-display-flex {
  display: flex;
  justify-content: flex-start;
}

.default-list-style {
  list-style: none;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 136px;
  padding: 0;
}

.navbar-contener {
  width: 100%;
  padding: 50px 0;
  background-color: #fff;
  place-content: space-between;
}

.navbar-top-contener {
  width: 100%;
  height: 44px;
  background-color: #fff;
}

.logo {
  margin-left: 20px;
}

.menu {
  margin-right: 20px;
}

.logo-font {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #6070ff;
  text-decoration: none;
}

.primary-text {
  width: 250px;
  margin-top: 114px;
  color: #091e42;
}

.support-text-font {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.support-text-headline {
  margin-top: 12px;
  width: 327px;
}

.lets-text-font {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
}

.headline {
  flex-direction: column;

  /* align-items: center; */
  background-image: url("images/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 50px;
  padding: 18px;
}

.about-head {
  background-image: none;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 0;
}

.about {
  background-image: none;
}

.display-list-item {
  margin-right: 20px;
}

/*
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-template-columns: auto;
  grid-template-columns: auto;
  padding: 30px 30px;
  row-gap: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
} */

.flex-item {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: white;
  justify-content: space-evenly;
  border-radius: 1rem;
  align-items: center;
}

.image {
  width: 90%;
  border-radius: 8px;
  padding-top: 1rem;
}

.tonic {
  margin: 1rem;
  align-self: flex-start;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 0;
  color: #172b4d;
}

.list-item {
  display: flex;
  margin: 1rem 3rem 1rem 1rem;
  align-self: flex-start;
}

.canopy {
  margin-right: 15px;
  position: static;
  width: 55px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.counter {
  margin-right: 15px;
}

.backdev {
  margin-right: 15px;
  position: static;
  width: 90px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  position: static;
  width: 29px;
  height: 16px;
  left: 0;
  top: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.para {
  margin: 15px;

  /* display: flex; */
  position: static;
  width: 312px;
  height: 76px;
  left: 0;
  top: 92px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.htm {
  /* display: flex; */
  margin-right: 15px;
  position: static;
  width: 29px;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background-color: rgb(231, 228, 228);
  color: #6070ff;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  border-radius: 8px;
}

.css {
  display: flex;
  margin-right: 15px;
  position: static;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background-color: rgb(231, 228, 228);
  color: #6070ff;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  border-radius: 6px;
}

.script {
  display: flex;
  margin-right: 15px;
  position: static;
  height: 16px;
  left: 12px;
  top: 4px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background-color: rgb(231, 228, 228);
  color: #6070ff;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  border-radius: 6px;
}

.but {
  margin: 15px;
  display: flex;
  align-self: flex-start;
  position: static;
  height: 50px;
  left: 12px;
  top: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  border: 1px solid blue;
  border-radius: 16px;
  padding: 0.7rem;
}

.lan,
.frame,
.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 1rem 0;
  margin: 0 1rem 1rem 1rem;
}

/*
.framework {
  border-bottom: solid;
  border-bottom-color: #000;
}

.skills {
  border-bottom: solid;
  border-bottom-color: #000;

} */

.second-list-tyle {
  margin-bottom: 0;
}

.first-list-style {
  justify-content: space-between;
}

.but1 {
  flex-basis: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  margin-bottom: 30px;
}

.pro {
  display: flex;
  align-items: center;
  margin: 0 2.5rem 2rem 1rem;
  background-color: #f7f7f9;
  border-radius: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
}

.lang {
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.jsi {
  margin: 5px;
}

.js {
  margin: 5px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 510;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.footer {
  background-color: #6070ff;
  font-style: normal;
  font-family: Poppins, sans-serif;
  height: 779px;
  border-radius: 100px 0 0 0;
  padding-top: 103px;
  padding-right: 30px;
  padding-left: 30px;
}

.contactme {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.form {
  flex-wrap: wrap;
}

.form-description {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin-bottom: 60px;
}

.form-element {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  flex: 1;
  padding: 0 10px 0;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  width: 80%;
}

input.form-element {
  height: 48px;
  width: 327px;
}

textarea.form-element {
  height: 170px;
  flex: 1 0 auto;
}

.form-element::placeholder {
  color: #b3bac5;
}

.flex-auto {
  flex: 1 0 auto;
}

.but:enabled {
  background-color: #fff;
  border: 1px solid #7f8cff;
}

.but:hover {
  background-color: #6070ff;
}

.but:disabled {
  color: #5e6c84;
}

.but:active {
  background-color: #2230d2;
}

#but-ons {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.03em;
  color: #2230d2;
}

#but-ons:enabled {
  background-color: #fff;
  border: 1px solid #7f8cff;
}

#but-ons:hover {
  background-color: #6070ff;
}

#but-ons:disabled {
  color: #5e6c84;
}

#but-ons:active {
  background-color: #2230d2;
}

/* Fix Mobile  */

.grid-container {
  /* display: -ms-grid; */
  display: grid;

  /* 3grid-template-columns: 2fr 2fr; */

  padding: 30px 30px;

  /* row-gap: repeat(nth-child(even), 5rem); */
  margin-top: 5rem;
  margin-bottom: 5rem;

  /* border: solid; */

  /* grid-template-columns: 50% 50%; */
  grid-template-columns: 1fr;

  /* width: 80%;
  padding: 0%;
  margin-left: 10%; */
  grid-template-areas:
    "item1"
    "item2"
    "item7"
    "item4"
    "item5"
    "item6"
    "item3"
    "item8";
}

.grid-item1 {
  grid-area: item1;

  /* grid-row-start: span 2; */
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.grid-item2 {
  grid-area: item2;
  margin-bottom: 5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grid-item4 {
  grid-area: item4;
  margin-bottom: 5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grid-item3 {
  grid-area: item3;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.grid-item5 {
  grid-area: item5;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.grid-item6 {
  grid-area: item6;
  margin-bottom: 5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grid-item7 {
  grid-area: item7;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.grid-item8 {
  grid-area: item8;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Add Desktop version Styling */

@media (min-width: 768px) {
  .menu {
    display: none;
  }

  .portfolio,
  .about,
  .contact {
    display: flex;
  }

  .menu-font {
    text-decoration: none;
    font-family: Poppins, Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .logo {
    flex-grow: 0.9;
    margin-left: 150px;
  }

  .contact {
    margin-right: 140px;
  }

  .primary-text {
    width: 500px;
    height: 122px;
    font-size: 48px;
    line-height: 60px;
    align-items: center;
    letter-spacing: 0.37px;
    margin-bottom: 6px;
  }

  .support-text-headline {
    width: 920px;
    height: 98px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .desktop {
    display: grid;
    width: 80%;
    padding: 0;
    margin-left: -50px;
  }

  .desktop2 {
    display: grid;
  }

  .tonicA,
  .tonicB,
  .canopyM,
  .backdevM,
  .tonicM,
  .paraM {
    display: none;
  }

  /*
   .para,
  .para-desktop {

  } */

  .can-desktop {
    display: flex;
    width: 83px;
    margin-right: 0;
  }

  .backdev-desktop {
    display: flex;
    width: 105px;
    margin-right: 0;
  }

  .tonic-desktop {
    display: flex;
    line-height: 52px;
    color: #091e42;
    font-weight: 700;
  }

  .uber-width {
    width: 44px;
  }

  .lead-width {
    width: 115px;
  }

  .para-desktop {
    display: flex;
    color: #344563;
    width: 93%;
    align-items: flex-start;
  }

  .htm-desktop {
    display: flex;
    width: 86px;
  }

  /*
   .image {
    width: 50%;
  }

  .main-cont-grid {

} */

  .grid-container {
    /* display: -ms-grid; */
    display: grid;

    /* 3grid-template-columns: 2fr 2fr; */

    /* -ms-grid-template-columns: 2;
    padding: 30px 30px;
    row-gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem; */

    /* grid-template-columns: 50% 50%; */
    grid-template-columns: 1fr 1fr;
    width: 80%;
    padding: 0%;
    margin-left: 10%;
    grid-template-areas:
      "item1 item2"
      "item4 item3"
      "item5 item6"
      "item8 item7";
  }

  .grid-item {
    /* border: solid; */
  }

  .grid-item1 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1rem;
    grid-area: item1;
    margin-bottom: 5rem;
  }

  .grid-item2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    grid-area: item2;
    margin-bottom: 5rem;
  }

  .grid-item4 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 1rem;
    grid-area: item4;
    margin-bottom: 5rem;
  }

  .grid-item3 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 1rem;
    grid-area: item3;
    margin-bottom: 5rem;
  }

  .grid-item5 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    grid-area: item5;
    margin-bottom: 5rem;
  }

  .grid-item6 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    grid-area: item6;
    margin-bottom: 5rem;
  }

  .grid-item7 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 1rem;
    grid-area: item7;
    margin-bottom: 5rem;
  }

  .grid-item8 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 1rem;
    grid-area: item8;
    margin-bottom: 5rem;
  }

  /* about myself section */

  .headline-top {
    padding-left: 200px;
  }

  .flex-container-desktop {
    display: flex;

    /* border: solid; */
    flex-direction: row;
  }

  .flex-desktop-item {
    width: 50%;

    /* border: solid; */
  }

  .flex-desktop-item2 {
    padding-top: 158px;
  }

  .lang {
    margin-bottom: 60px;
  }

  .fram-des {
    margin-bottom: 0;
  }

  .support-text-headline-about {
    width: 600px;
    padding-bottom: 30px;
  }

  .but-about {
    /* margin: 0;
  padding: 0; */
    width: 170px;
    height: 40px;
    border: 0;
    flex-basis: 5%;
    border-radius: 6px;
  }

  .about-self {
    width: 140px;
  }

  .pro {
    width: 200px;
    display: block;
  }

  .flex-container-lang {
    display: flex;
    width: 60%;
  }

  .flex-container-lang-item {
    width: 122px;
  }

  .list-desktop {
    list-style: ;
  }

  .flex-foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-foot-container-item {
    width: 50%;
  }

  .form-element {
    flex: none;
  }

  input.form-element {
    width: 587px;
  }
}
