@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    background: #ffffff;
}

.headline-container {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.navbar-container {
    padding: 50px;
    width: 100%;
    flex
}



.flex-item1 {
    height: 15px;
}

.flex-item2 {
    height: 15px;
}

.default-font {
    font-family: 'Poppins';
    font-style: normal;
}
